h1 { 
    color:red;
    font-family: sans-serif;
    border-bottom: 1px solid blue;
    }
h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-block-start: 40px;
}
p{
    font-family: sans-serif;
    margin-left: 5px;
    border-bottom: 1px solid blue;

}
ul{
    display: block;
    list-style-type: disc;
    font-family: sans-serif;
    border-bottom: 1px solid blue;

}
blockquote { 
    background-color: rgb(144, 204, 245);
    padding: 1rem;    

    }
body{
    background-color: rgb(156, 228, 204);
}
footer {
display: flex;
justify-content: center;
align-items: center;
}

a:link{color:rgb(34, 52, 78)}
a:visited{color:rgb(48, 33, 61)}
a:focus, a:hover{color:rgb(0, 89, 255); font-weight: bold;}